.description{
    font-size: 1.5rem;
    font-family: $roboto;
    font-weight: 400;
    color: var(--color-gray-2);
    line-height: 1.9;
}

.section__heading{
    font-family: $maven;
    font-size: 3.5rem;
    font-weight: 400;
    color: var(--color-dark);
    margin-bottom: 2rem;
    line-height: 1.5;

    @include respond(500px){
        font-size: 3rem;
    }
}

.section-sub-heading{
    font-family: $maven;
    font-size: 2.2rem;
    color: var(--color-gray);
    font-style: italic;
}