// fonts

// font-family: 'Catamaran', sans-serif;
// font-family: 'Fira Sans', sans-serif;
// font-family: 'Maven Pro', sans-serif;
// font-family: 'Roboto', sans-serif;

$cat : 'Catamaran', sans-serif;
$fira : 'Fira Sans', sans-serif;
$maven : 'Maven Pro', sans-serif;
$roboto : 'Roboto', sans-serif;
